html {
  height: 100%;
  display: flex; }

body {
  flex: 1;
  display: flex;
  align-items: stretch; }

div {
  display: flex;
  color: white;
  position: relative;
  flex-direction: column; }

a {
  color: #0b84ff; }

.line, .before-line::before, .after-line::after, .drawer .basic .cell::after {
  content: "";
  position: absolute;
  height: 1px;
  right: 0;
  background-color: #999; }

.before-line::before {
  top: 0;
  left: 0; }

.after-line::after {
  bottom: 0;
  left: 0; }

.row {
  flex-direction: row; }

.app {
  flex: 1;
  overflow: hidden;
  border-radius: 8px;
  flex-direction: row;
  background-color: #2b2e2c;
  border: 2px solid #5c5e5d; }

.drawer {
  flex: 1;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #333;
  background-color: #383b3a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .drawer .avatar {
    color: #d8dbda;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .drawer .avatar img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-right: 10px; }
  .drawer .basic {
    margin-top: 15px; }
    .drawer .basic .title {
      margin: 10px 15px;
      font-size: 15px;
      font-weight: 500;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .drawer .basic .title .more {
        font-size: 13px;
        color: #0b84ff; }
    .drawer .basic .cell {
      font-size: 12px;
      padding: 7px 15px;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #5d5f5e; }
      .drawer .basic .cell .cell-content {
        opacity: 0.7; }
      .drawer .basic .cell a {
        color: #0b84ff; }
      .drawer .basic .cell .slide-back {
        width: 150px;
        height: 10px;
        border-radius: 10px;
        align-items: stretch;
        background-color: #8a8a8a;
        overflow: hidden; }
        .drawer .basic .cell .slide-back .slide {
          flex: 1;
          border-radius: 10px;
          background-color: #383b39; }
    .drawer .basic .cell::after {
      bottom: 0;
      left: 10px; }

.content {
  flex: 3; }
  .content .navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 999;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #383b39;
    border-bottom: 1px solid #5c5e5d; }
  .content .focus {
    margin: 0 20px;
    padding: 30px 10px 10px 10px;
    align-self: stretch;
    background-color: #f7f3f2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .content .focus .title {
      font-size: 18px;
      color: #303030; }
    .content .focus .row .num {
      font-size: 13px;
      color: #a7a4a5; }
    .content .focus .row .text {
      font-size: 13px;
      color: #a7a4a5; }
  .content .exp {
    margin: 20px;
    flex: 1; }
    .content .exp .row {
      flex: 1;
      flex-direction: row; }
      .content .exp .row .grid {
        flex: 1;
        background-color: #404241;
        border-radius: 10px;
        padding: 15px; }
        .content .exp .row .grid .des {
          margin-top: 10px;
          font-size: 13px;
          color: #9d9e9e; }
      .content .exp .row > :first-child {
        margin-right: 20px; }

/*# sourceMappingURL=cv.css.map */
